<% layout('layouts/boilerplate')%>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/UniCSReview.css"/>
</head>

    <h1>Welcome to Uni CS Review! 
        <p>You can find the best CS programs here!</p>
    </h1>